$color-background0: #171717;
$color-background1: #1a1a1a;
$color-background2: #212121;
$color-background3: #2f2f2f;
$color-background4: #3a3a3a;
$color-background5: #3f3f3f;

$color-foreground0: #a7a7a7;
$color-foreground1: #eceff1;
$color-foreground2: #fff;

$color-accent0: #89ddff;
$color-accent1: #82aaff;
$color-accent2: #8458eb;
$color-accent3: #c3e88d;
$color-accent4: #c792ea;
$color-accent5: #ff5370;
$color-accent6: #f6e122;
$color-accent7: #fbc963;

$color-border0: #121212;
$color-border1: #151515;
$color-border2: #3d3d3d;
