.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 2rem;

    & > .menu {
        margin: 0 0.5rem;
        cursor: pointer;
    }
}
